<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MessageIpAddr" value="127.0.0.1"/>
    <add key="MessagePort" value="10015"/>
    <add key="ClientCode" value="qmeea1pdoGe8hfC8fGqs6ES3"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
